main {
    .soporte {
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            font-family: $letra;
            text-align: center;
            width: 40%;
            color: white;
        }
        h3 {
            color: white;
            font-size: 2.4rem;
        }

        .boton{
            background-color: $rosa;
            font-family: $letra;
            border-radius: 50px;
            transition: transform 0.3s ease;
            font-size: large;
            border-color: $rosa;
        }
        .boton:hover {
            transform: scale(1.1);
        }
    }

    .cel-sop {
        font-family: $letra;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        .num-sop {
            
            display: flex;
            margin-left: 0px;
            align-items: center;
            width: 100%;
            justify-content: space-around;
            text-align: center;
            div{
                width: 30%;
            }
            h5 {
                color: $rosa;
            }
        }

        .jus-sop {
            width: 40%;
        }
    }
}